<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="./vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite + React</title>
    <script type="text/javascript" src="qwebchannel.js"></script>
    <script type="text/javascript">
      console.log("Initializing QWebSocket...");
      let baseUrl = "ws://localhost:12345";

      console.log("Connecting to WebSocket server at " + baseUrl + ".");
      let socket = new WebSocket(baseUrl);

      socket.onclose = function () {
        console.error("web socket closed");
      };
      socket.onerror = function (error) {
        console.error("web socket error: " + error);
      };
      socket.onopen = function () {
        console.log("WebSocket connected, setting up QWebChannel.");
        new QWebChannel(socket, function (channel) {
          console.log("✅ QWebChannel initialized");
          channel.objects.wysebee.sendMessage("Hello from the frontend!");
          window.wysebee = channel.objects.wysebee;
          console.log("wysebee object:", window.wysebee);
        });
      };
    </script>
    <script type="module" crossorigin src="./assets/index-C_DpUyBo.js"></script>
    <link rel="stylesheet" crossorigin href="./assets/index-CSZvinZM.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
